<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>Organization Admin Dashboard</title>

  <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="shortcut icon" href="../../assets/img/favicons/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="../../assets/img/favicons/favicon-192x192.png" sizes="192x192">

  <link rel="apple-touch-icon" sizes="57x57" href="../../assets/img/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../assets/img/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../assets/img/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../assets/img/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../assets/img/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../assets/img/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../assets/img/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../assets/img/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon-180x180.png">
  <!-- END Icons -->

  <!-- Stylesheets -->
  <!-- Web fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

  <!-- Bootstrap and OneUI CSS framework -->
  <link rel="stylesheet" href="../../assets/css/bootstrap.min.css">
  <link rel="stylesheet" id="css-main" href="../../assets/css/oneui.css">

  <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
  <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
  <!-- END Stylesheets -->
</head>
<body>
<!-- Page Container -->
<!--
    Available Classes:

    'enable-cookies'             Remembers active color theme between pages (when set through color theme list)

    'sidebar-l'                  Left Sidebar and right Side Overlay
    'sidebar-r'                  Right Sidebar and left Side Overlay
    'sidebar-mini'               Mini hoverable Sidebar (> 991px)
    'sidebar-o'                  Visible Sidebar by default (> 991px)
    'sidebar-o-xs'               Visible Sidebar by default (< 992px)

    'side-overlay-hover'         Hoverable Side Overlay (> 991px)
    'side-overlay-o'             Visible Side Overlay by default (> 991px)

    'side-scroll'                Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (> 991px)

    'header-navbar-fixed'        Enables fixed header
-->
<div id="page-container" >
  <!-- Header -->
  <header id="header-navbar" class="content-mini content-mini-full">
    <!-- Header Navigation Right -->
    <ul class="nav-header pull-right">
      <li ngbDropdown  class="nav-item dropdown">
        <div class="btn-group">
          <button type="button" ngbDropdownToggle class="btn btn-default btn-image dropdown-toggle" id="navbarDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../assets/img/avatars/avatar10.jpg" alt="Avatar">
            <span class="caret"></span>
          </button>
          <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdownMenuButton">
            <ul>
              <li class="dropdown-header">Profile</li>
              <li>
                <a tabindex="-1" href="base_pages_profile.html">
                  <i class="si si-user pull-right"></i>
                  <span class="badge badge-success pull-right">1</span>Profile
                </a>
              </li>
              <li>
                <a tabindex="-1" href="javascript:void(0)">
                  <i class="si si-settings pull-right"></i>Settings
                </a>
              </li>
              <li class="divider"></li>
              <li class="dropdown-header">Actions</li>
              <li>
                <a tabindex="-1" routerLink="/loginpage" routerLinkActive="active">
                  <i class="si si-logout pull-right"></i>Log out
                </a>
              </li>
            </ul>
          </div>

        </div>
      </li>
    </ul>
    <!-- END Header Navigation Right -->
  </header>
  <!-- END Header -->

  <!-- Main Container -->
  <main id="main-container">
    <!-- Page Content -->
    <div class="content content-boxed">
      <!-- Page Header -->
      <div class="bg-image overflow-hidden push" style="background-image: url('../../assets/img/photos/photo36@2x.jpg');">
        <div class="bg-black-op">
          <div class="content content-full text-center">
            <h1 class="h1 font-w700 text-white animated fadeInDown push-50-t push-5">Organization Admin</h1>
            <h2 class="h3 font-w600 text-white-op animated fadeInDown">Welcome to your personal space.</h2>
          </div>
        </div>
      </div>
      <!-- END Page Header -->

      <!-- Stats -->
      <div class="row">
        <div class="col-xs-6 col-lg-3">
          <a class="block block-link-hover1" href="javascript:void(0)">
            <div class="block-content block-content-full clearfix">
              <div class="pull-right push-15-t push-15">
                <i class="fa fa-users fa-2x text-primary"></i>
              </div>
              <div class="h2 text-primary" data-toggle="countTo" data-to="5"></div>
              <div class="text-uppercase font-w600 font-s12 text-muted">Organizations</div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-lg-3">
          <a class="block block-link-hover1" href="javascript:void(0)">
            <div class="block-content block-content-full clearfix">
              <div class="pull-right push-15-t push-15">
                <i class="fa fa-briefcase fa-2x text-smooth"></i>
              </div>
              <div class="h2 text-smooth" data-toggle="countTo" data-to="360"></div>
              <div class="text-uppercase font-w600 font-s12 text-muted">Positive Response</div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-lg-3">
          <a class="block block-link-hover1" href="javascript:void(0)">
            <div class="block-content block-content-full clearfix">
              <div class="pull-right push-15-t push-15">
                <i class="fa fa-line-chart fa-2x text-success"></i>
              </div>
              <div class="h2 text-success" data-toggle="countTo" data-to="760" data-before="$"></div>
              <div class="text-uppercase font-w600 font-s12 text-muted">Negative Response</div>
            </div>
          </a>
        </div>
        <div class="col-xs-6 col-lg-3">
          <a class="block block-link-hover1" href="javascript:void(0)">
            <div class="block-content block-content-full clearfix">
              <div class="pull-right push-15-t push-15">
                <i class="fa fa-bar-chart-o fa-2x text-amethyst"></i>
              </div>
              <div class="h2 text-amethyst" data-toggle="countTo" data-to="48"></div>
              <div class="text-uppercase font-w600 font-s12 text-muted">Dashboard</div>
            </div>
          </a>
        </div>
      </div>
      <!-- END Stats -->

      <!-- Dashboard Charts -->
      <div class="row">
        <div class="col-md-12">
          <div class="block block-rounded block-opt-refresh-icon8">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Professor</h3>
            </div>
            <div class="block-content block-content-full text-center">
              <div class="pull-r-l pull-t pull-b"><br>
                <a (click)="viewProf()">View</a>&nbsp;&nbsp;&nbsp;
                <a (click)="addProf()">Add</a>&nbsp;&nbsp;&nbsp;
                <a (click)="modifyProf()">Modify</a>&nbsp;&nbsp;&nbsp;
                <a (click)="deleteProf()">Delete</a><br><br>
              </div>
            </div>
            <div class="block" id="profList" style="display: none;">
              <div class="block-content">
                <label>Organization Name :
                  <select name="orgName">
                    <option value="">--Select--</option>
                    <option value="Alice">UMKC</option>
                    <option value="John">KSU</option>
                    <option value="Mercy">ASU</option>
                  </select></label>&nbsp;<br><br>
                <label>Professor Name :&nbsp;
                  <select name="profName">
                    <option value="">--Select--</option>
                    <option value="Alice">Alice</option>
                    <option value="John">John</option>
                    <option value="Mercy">Mercy</option>
                  </select></label><br><br>
                <label>Email id :
                  <input type="text" name="profEmail" disabled></label><br><br>
                <label>Contact No :
                  <input type="text" name="profPhone" disabled></label><br><br>
                <!--<label>Major : </label>
                <input type="text" name="profMajor" disabled><br><br><br><br>-->
              </div>
            </div>
            <div class="block" id="profAdd" style="display: none;">
              <div class="block-content">
                <label>Organization Name :&nbsp;
                  <select name="orgName">
                    <option value="">--Select--</option>
                    <option value="Alice">UMKC</option>
                    <option value="John">KSU</option>
                    <option value="Mercy">ASU</option>
                  </select></label><br><br>
                <label>Professor Name :&nbsp;
                  <input type="text" name="profName"></label><br><br>
                <label>Email id :
                  <input type="text" name="profEmail"></label><br><br>
                <label>Contact No :
                  <input type="text" name="profPhone"></label><br><br>
                <input type="button" name="Add" value="Add"><br><br><br><br>
              </div>
            </div>
            <div class="block" id="profModify" style="display: none;">
              <div class="block-content">
                <label>Organization Name :&nbsp;
                  <select name="orgName">
                    <option value="">--Select--</option>
                    <option value="Alice">UMKC</option>
                    <option value="John">KSU</option>
                    <option value="Mercy">ASU</option>
                  </select></label><br><br>
                <label>Professor Name :&nbsp;
                  <select name="profName">
                    <option value="">--Select--</option>
                    <option value="Alice">Alice</option>
                    <option value="John">John</option>
                    <option value="Mercy">Mercy</option>
                  </select></label><br><br>
                <label>Email id :
                  <input type="text" name="profEmail"></label><br><br>
                <label>Contact No :
                  <input type="text" name="profPhone"></label><br><br>
                <input type="button" name="Update" value="Update"><br><br><br><br>
              </div>
            </div>
            <div class="block" id="profDelete" style="display: none;">
              <div class="block-content">
                <label>Organization Name :
                  <select name="orgName">
                    <option value="">--Select--</option>
                    <option value="Alice">UMKC</option>
                    <option value="John">KSU</option>
                    <option value="Mercy">ASU</option>
                  </select></label><br><br>
                <label>Professor Name :&nbsp;
                <select name="profName">
                  <option value="">--Select--</option>
                  <option value="Alice">Alice</option>
                  <option value="John">John</option>
                  <option value="Mercy">Mercy</option>
                </select></label><br><br>
                <input type="button" name="Delete" value="Delete"><br><br><br><br>
              </div>
            </div>
            <!-- END My Block - Professor -->
          </div>

          <div class="block block-rounded block-opt-refresh-icon8">
            <div class="block-header bg-gray-lighter">
              <h3 class="block-title">Question Set</h3>
            </div>
            <div class="block-content block-content-full text-center">
              <div class="pull-r-l pull-t pull-b"><br>
                <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard_v3.js), for more examples you can check out http://www.chartjs.org/docs/ -->
                <!--<canvas class="js-dashv3-chartjs-earnings"></canvas>-->
                <a (click)="viewQuest()">View</a>&nbsp;&nbsp;&nbsp;
                <a (click)="addQuest()">Add</a>&nbsp;&nbsp;&nbsp;
                <a (click)="modifyQuest()">Modify</a>&nbsp;&nbsp;&nbsp;
                <a (click)="deleteQuest()">Delete</a><br><br>

                <!-- My Block Organization - Questions-->
                <div class="block" id="questList" style="display: none;">
                  <div class="block-content">
                    <label>Question Set :&nbsp;
                    <select name="majorName">
                      <option value="">--Select--</option>
                      <option value="Set 1">Set 1</option>
                      <option value="Set 2">Set 2</option>
                      <option value="Set 3">Set 3</option>
                    </select></label><br><br>
                    <label>Question List :&nbsp;
                    <select name="questName">
                      <option value="">--Select--</option>
                      <option value="abc">abc</option>
                      <option value="pqr">pqr</option>
                      <option value="xyz">xyz</option>
                    </select></label><br><br><br><br>
                  </div>
                </div>
                <div class="block" id="questAdd" style="display: none;">
                  <div class="block-content">
                    <label>Question Set :&nbsp;
                    <input type="text" name="questSet"></label><br><br>
                    <label>Question
                    <textarea name="question" ngModel="question"></textarea></label><br><br>
                    <input type="button" name="Add" value="Add"><br><br>
                  </div>
                </div>
                <div class="block" id="questModify" style="display: none;">
                  <div class="block-content">
                    <label>Question Set :&nbsp;
                    <select name="majorName">
                      <option value="">--Select--</option>
                      <option value="Set 1">Set 1</option>
                      <option value="Set 2">Set 2</option>
                      <option value="Set 3">Set 3</option>
                    </select></label><br><br>
                    <label>Question List :&nbsp;
                    <select name="questName">
                      <option value="">--Select--</option>
                      <option value="abc">abc</option>
                      <option value="pqr">pqr</option>
                      <option value="xyz">xyz</option>
                    </select></label><br><br>
                    <label>Updated question :&nbsp;
                    <textarea ngModel="updateQuest"></textarea></label>
                    <input type="button" name="Update" value="Update"><br><br><br><br>
                  </div>
                </div>
                <div class="block" id="questDelete" style="display: none;">
                  <div class="block-content">
                    <label>Question Set :&nbsp;
                    <select name="majorName">
                      <option value="">--Select--</option>
                      <option value="Set 1">Set 1</option>
                      <option value="Set 2">Set 2</option>
                      <option value="Set 3">Set 3</option>
                    </select></label><br><br>
                    <label>Question List :&nbsp;
                    <select name="questName">
                      <option value="">--Select--</option>
                      <option value="abc">abc</option>
                      <option value="pqr">pqr</option>
                      <option value="xyz">xyz</option>
                    </select></label><br><br>
                    <input type="button" name="Delete" value="Delete"><br><br><br><br>
                  </div>
                </div>
                <!-- END My Block - Questions -->
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="block block-rounded block-opt-refresh-icon8">

            <div class="side-content remove-padding-t">
              <!-- Block -->
              <div class="block pull-r-l">
                <div class="block-header bg-gray-lighter">
                  <ul class="block-options">
                    <li>
                      <button type="button" data-toggle="block-option" data-action="content_toggle"></button>
                    </li>
                  </ul>
                  <h3 class="block-title">Dashboard</h3>
                </div>

              </div>
              <!-- END Block -->
            </div>
            <div class="block-content block-content-full text-center">
              <div class="pull-r-l pull-t pull-b">
                <label>Organization Name :&nbsp;
                <select name="orgName">
                  <option value="">--Select--</option>
                  <option value="Alice">UMKC</option>
                  <option value="John">KSU</option>
                  <option value="Mercy">ASU</option>
                </select></label><br><br>
                <label>Professor Name :&nbsp;
                <select name="profName">
                  <option value="">--Select--</option>
                  <option value="Alice">Alice</option>
                  <option value="John">John</option>
                  <option value="Mercy">Mercy</option>
                </select></label><br><br>
                <!-- Chart.js Charts (initialized in js/pages/base_pages_dashboard_v3.js), for more examples you can check out http://www.chartjs.org/docs/ -->
                <canvas class="js-dashv3-chartjs-sales"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Products and Latest Orders -->
      <!-- END Top Products and Latest Orders -->
    </div>
    <!-- END Page Content -->
  </main>
  <!-- END Main Container -->

  <!-- Footer -->
  <!--<footer id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix">
      <div class="pull-right">
          Crafted with <i class="fa fa-heart text-city"></i> by <a class="font-w600" href="https://1.envato.market/ydb" target="_blank">pixelcave</a>
      </div>
      <div class="pull-left">
          <a class="font-w600" href="https://1.envato.market/xWy" target="_blank">OneUI 3.5</a> &copy; <span class="js-year-copy">2015</span>
      </div>
  </footer>-->
  <!-- END Footer -->
</div>
<!-- END Page Container -->

<!-- Apps Modal -->


<!-- OneUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock, Appear, CountTo, Placeholder, Cookie and App.js -->
<script src="../../assets/js/core/jquery.min.js"></script>
<script src="../../assets/js/core/bootstrap.min.js"></script>
<script src="../../assets/js/core/jquery.slimscroll.min.js"></script>
<script src="../../assets/js/core/jquery.scrollLock.min.js"></script>
<script src="../../assets/js/core/jquery.appear.min.js"></script>
<script src="../../assets/js/core/jquery.countTo.min.js"></script>
<script src="../../assets/js/core/jquery.placeholder.min.js"></script>
<script src="../../assets/js/core/js.cookie.min.js"></script>
<script src="../../assets/js/app.js"></script>

<script src="orgadmin.component.ts"></script>

<!-- Page Plugins -->
<script src="../../assets/js/plugins/chartjsv2/Chart.min.js"></script>

<!-- Page JS Code -->
<script src="../../assets/js/pages/base_pages_dashboard_v3.js"></script>
<script>
    jQuery(function () {
        // Init page helpers (CountTo plugin)
        App.initHelpers('appear-countTo');
    });
</script>
</body>
</html>
